# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df = pd.read_csv('mxmh survey results2.csv')

df.describe()

,Age,Hours per day,BPM,Anxiety,Depression,Insomnia,OCD
count,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000,624.000000
mean,24.753205,3.713462,123.214744,5.866186,4.870192,3.808494,2.628205
std,11.709293,3.092419,32.899605,2.767640,3.001333,3.110167,2.842648
min,10.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,2.000000,100.000000,4.000000,2.000000,1.000000,0.000000
50%,21.000000,3.000000,120.000000,6.000000,5.000000,3.000000,2.000000
75%,27.000000,5.000000,144.000000,8.000000,7.000000,6.000000,5.000000
max,89.000000,24.000000,220.000000,10.000000,10.000000,10.000000,10.000000

<br>
<br>

The dependent and independent variables (DVs and IVs) that we are interested in are:

**DVs**:
- Anxiety

**IVs**:
- Age
- Hours per day (of listening to music)
- BPM


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df[  ['Anxiety', 'Age', 'Hours per day', 'BPM']  ]

df.describe()

          Anxiety         Age  Hours per day         BPM
count  624.000000  624.000000     624.000000  624.000000
mean     5.866186   24.753205       3.713462  123.214744
std      2.767640   11.709293       3.092419   32.899605
min      0.000000   10.000000       0.000000    4.000000
25%      4.000000   18.000000       2.000000  100.000000
50%      6.000000   21.000000       3.000000  120.000000
75%      8.000000   27.000000       5.000000  144.000000
max     10.000000   89.000000      24.000000  220.000000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [4]:
df = df.rename( columns={'Hours per day':'Duration'} )

df.describe()

          Anxiety         Age    Duration         BPM
count  624.000000  624.000000  624.000000  624.000000
mean     5.866186   24.753205    3.713462  123.214744
std      2.767640   11.709293    3.092419   32.899605
min      0.000000   10.000000    0.000000    4.000000
25%      4.000000   18.000000    2.000000  100.000000
50%      6.000000   21.000000    3.000000  120.000000
75%      8.000000   27.000000    5.000000  144.000000
max     10.000000   89.000000   24.000000  220.000000